<html>

    <head>

        <title>My webpage</title>



    </head>

    <body>
            <form>
              <p> Username: <input type="text" placeholder="your username"></p>
              <p>Stay logged in:<input type="checkbox"></p>
              <p>Under 18: <input type="radio" ></p>
              <p>Over 18: <input type="radio" ></p>

                <p> Favorite food:
                    <select>
                        <option>Icecream</option>
                        <option>Pizza</option>
                        <option>sandwiches</option>

                    </select>
                </p>


                <p><input type="submit" value="click me"></p>
                <p> Date:<br>
                <input type="date"></p>
                <p><input type="password"></p>

            </form>
<%= link_to "about", about_path %>
    </body>


    </html>

